@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Mission06_Corfield.Models.Joel>

<table class="table table-bordered">
    <thead class="fw-bold">
        <tr>
            <th>Category</th>
            <th>Title</th>
            <th>Year</th>
            <th>Director</th>
            <th>Rating</th>
            <th>Edited</th>
            <th>Lent To</th>
            <th>Copied to Plex</th>
            <th>Notes</th>
        </tr>
    </thead>
     @foreach (var movie in Model)
     {
        <tbody>
  
                <tr>
                    <td>@movie.Category</td>
                    <td>@movie.Title</td>
                    <td>@movie.Year</td>
                    <td>@movie.Director</td>
                    <td>@movie.Rating</td>
                    <td>@movie.Edited</td>
                    <td>@movie.LentTo</td>
                    <td>@movie.Plex</td>
                    <td>@movie.Notes</td>

                    <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@movie.MovieId">Edit</a></td>
                    <td><a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@movie.MovieId">Delete</a></td>
                </tr>
       
        </tbody>
    }
</table>
